body {
  background-color: #0B2434;
  font-family: Karla, sans-serif;
}

#root{
  padding: 30px 30px;
}

main{
  background-color: #F5F5F5;
  border: solid whitesmoke 5px;
  border-radius: 15px;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dice-container{
  padding: 2rem;
  /* border: 1px solid #0B2434; */
  display: grid;
  /* grid: repeat(2, 5rem) / auto-flow 7rem; */
  grid-template: auto auto / repeat(5, 1fr);
  gap: 2rem;
  justify-content: center;
}

button{
  border-radius: 10px;
  min-height: 5rem;
  max-height: 5rem;
  min-width: 5rem;
  max-width: 5rem;
  border: none;
  background-color: #FFFFFF;
  box-shadow: -1px 2px 8px rgb(140, 140, 140);
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); */
  font-size: 3.5rem;
  cursor: pointer;
  font-family: Karla, sans-serif;
}

.roll-dice{
  display: block;
  background-color: #5035FF;
  color: white;
  min-width: 10rem;
  max-width: 10rem;
  font-size: 2.5rem;
  margin-top: 5rem;
}

button.held{
  background-color: #59E391;
  border: #0B2434 solid 3px;
}